body       { padding-top:50px; }
.container {
	background-color: #f2f2f2;
	border: 1px solid #ccc;
	padding: 20px;
	top: 20px;
	-webkit-box-shadow: 0 2px 2px 1px rgba(0,0,0,0.2);
	box-shadow: 0 2px 2px 1px rgba(0,0,0,0.2);
}

input[type='text'] {
	margin-bottom: 10px; 
}

button {
	margin-left: 10px;
	margin: 0 auto;
}

.item{
	text-transform: capitalize;
	border:1px solid #ACC98B;
	margin-top: 10px;
	padding: 10px;
	border-radius: 5px;
	background-color: #D7FAB1;
	color: #454545;
}