body       { padding-top:50px; }
.container {
	background-color: #f2f2f2;
	border: 1px solid #ccc;
	padding: 20px;
	top: 20px;
	-webkit-box-shadow: 0 2px 2px 1px rgba(0,0,0,0.2);
	box-shadow: 0 2px 2px 1px rgba(0,0,0,0.2);
}